:root {
    --carousel-indicators-padding: 1rem;
    --carousel-indicator-bg: #e9ecef;
    --carousel-indicator-hover-bg: #dee2e6;
    --carousel-indicator-border-radius: 0;
    --carousel-indicator-width: 2rem;
    --carousel-indicator-height: 0.5rem;

    --galleria-mask-bg: rgba(0, 0, 0, 0.9);
    --galleria-close-icon-margin: 0.5rem;
    --galleria-close-icon-font-size: 2rem;
    --galleria-close-icon-bg: transparent;
    --galleria-close-icon-color: #ebedef;
    --galleria-close-icon-hover-bg: rgba(255, 255, 255, 0.1);
    --galleria-close-icon-hover-color: #ebedef;
    --galleria-close-icon-width: 4rem;
    --galleria-close-icon-height: 4rem;
    --galleria-close-icon-border-radius: 50%;
    --galleria-item-navigator-bg: rgba(0, 0, 0, 0.2);
    --galleria-item-navigator-color: #aeb6bf;
    --galleria-item-navigator-margin: 0.5rem 0;
    --galleria-item-navigator-font-size: 2rem;
    --galleria-item-navigator-hover-bg: rgba(0, 0, 0, 0.3);
    --galleria-item-navigator-hover-color: #ebedef;
    --galleria-item-navigator-width: 4rem;
    --galleria-item-navigator-height: 4rem;
    --galleria-item-navigator-border-radius: var(--border-radius);
    --galleria-caption-bg: rgba(0, 0, 0, 0.5);
    --galleria-caption-text-color: #ebedef;
    --galleria-caption-padding: 1rem;
    --galleria-indicators-padding: 1rem;
    --galleria-indicator-bg: #e9ecef;
    --galleria-indicator-hover-bg: #dee2e6;
    --galleria-indicator-border-radius: 50%;
    --galleria-indicator-width: 1rem;
    --galleria-indicator-height: 1rem;
    --galleria-indicators-bg-on-item: rgba(0, 0, 0, 0.5);
    --galleria-indicator-bg-on-item: rgba(255, 255, 255, 0.4);
    --galleria-indicator-hover-bg-on-item: rgba(255, 255, 255, 0.6);
    --galleria-thumbnail-container-bg: rgba(0, 0, 0, 0.9);
    --galleria-thumbnail-container-padding: 1rem 0.25rem;
    --galleria-thumbnail-navigator-bg: transparent;
    --galleria-thumbnail-navigator-color: #aeb6bf;
    --galleria-thumbnail-navigator-hover-bg: rgba(255, 255, 255, 0.1);
    --galleria-thumbnail-navigator-hover-color: #aeb6bf;
    --galleria-thumbnail-navigator-border-radius: 50%;
    --galleria-thumbnail-navigator-width: 2rem;
    --galleria-thumbnail-navigator-height: 2rem;

    --image-mask-bg: rgba(0, 0, 0, 0.9) !default;
    --image-preview-toolbar-padding: 1rem !default;
    --image-preview-indicator-color: #f8f9fa !default;
    --image-preview-indicator-bg: rgba(0, 0, 0, 0.5) !default;
    --image-preview-action-icon-bg: transparent !default;
    --image-preview-action-icon-color: #f8f9fa !default;
    --image-preview-action-icon-hover-bg: rgba(255, 255, 255, 0.1) !default;
    --image-preview-action-icon-hover-color: #f8f9fa !default;
    --image-preview-action-icon-width: 3rem !default;
    --image-preview-action-icon-height: 3rem !default;
    --image-preview-action-icon-font-size: 1.5rem !default;
    --image-preview-action-icon-border-radius: 50% !default;
}
