:root {
    --table-header-border: 1px solid #e9ecef;
    --table-header-border-width: 0 0 1px 0;
    --table-header-bg: #f8f9fa;
    --table-header-text-color: var(--text-color);
    --table-header-font-weight: 600;
    --table-header-padding: 1rem 1rem;
    --table-header-cell-padding: 1rem 1rem;
    --table-header-cell-bg: #f8f9fa;
    --table-header-cell-text-color: var(--text-color);
    --table-header-cell-font-weight: 600;
    --table-header-cell-border: 1px solid #e9ecef;
    --table-header-cell-border-width: 0 0 1px 0;
    --table-header-cell-hover-bg: #e9ecef;
    --table-header-cell-text-hover-color: var(--text-color);
    --table-header-cell-icon-color: var(--text-secondary-color);
    --table-header-cell-icon-hover-color: var(--text-secondary-color);
    --table-header-cell-highlight-bg: #f8f9fa;
    --table-header-cell-highlight-text-color: var(--primary-color);
    --table-header-cell-highlight-hover-bg: #e9ecef;
    --table-header-cell-highlight-text-hover-color: var(--primary-color);
    --table-sortable-column-badge-size: 1.143rem;
    --table-body-row-bg: #ffffff;
    --table-body-row-text-color: var(--text-color);
    --table-body-row-even-bg: #ffffff;
    --table-body-row-hover-bg: #e9ecef;
    --table-body-row-text-hover-color: var(--text-color);
    --table-body-cell-border: 1px solid rgba(0, 0, 0, 0.08);
    --table-body-cell-border-width: 0 0 1px 0;
    --table-body-cell-padding: 1rem 1rem;
    --table-footer-cell-padding: 1rem 1rem;
    --table-footer-cell-bg: #f8f9fa;
    --table-footer-cell-text-color: var(--text-color);
    --table-footer-cell-font-weight: 600;
    --table-footer-cell-border: 1px solid #e9ecef;
    --table-footer-cell-border-width: 0 0 1px 0;
    --table-resizer-helper-bg: var(--primary-color);
    --table-drag-helper-bg: rgba(var(--primary-color), 0.16);
    --table-footer-border: 1px solid #e9ecef;
    --table-footer-border-width: 0 0 1px 0;
    --table-footer-bg: #f8f9fa;
    --table-footer-text-color: var(--text-color);
    --table-footer-font-weight: 600;
    --table-footer-padding: 1rem 1rem;
    --table-cell-content-alignment: left;
    --table-top-paginator-border-width: 1px 0 1px 0;
    --table-bottom-paginator-border-width: 0 0 1px 0;
    --table-scale-s-m: 0.5;
    --table-scale-l-g: 1.25;
}
