.p-scrollpanel .p-scrollpanel-bar {
    background: #f8f9fa;
    border: 0 none;
}

.p-toolbar {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 1.25rem;
    border-radius: 6px;
}
.p-toolbar .p-toolbar-separator {
    margin: 0 0.5rem;
}

.p-tooltip .p-tooltip-text {
    background: #495057;
    color: #ffffff;
    padding: 0.75rem 0.75rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    border-right-color: #495057;
}
.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    border-left-color: #495057;
}
.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    border-top-color: #495057;
}
.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: #495057;
}

.p-fileupload .p-fileupload-buttonbar {
    background: #f8f9fa;
    padding: 1.25rem;
    border: 1px solid #dee2e6;
    color: #343a40;
    border-bottom: 0 none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.p-fileupload .p-fileupload-buttonbar .p-button {
    margin-right: 0.5rem;
}
.p-fileupload .p-fileupload-content {
    background: #ffffff;
    padding: 2rem 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.p-fileupload .p-progressbar {
    height: 0.25rem;
}
.p-fileupload .p-fileupload-row > div {
    padding: 1rem 1rem;
}
.p-fileupload.p-fileupload-advanced .p-message {
    margin-top: 0;
}

.p-scrolltop {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-scrolltop.p-link {
    background: rgba(0, 0, 0, 0.7);
}
.p-scrolltop.p-link:hover {
    background: rgba(0, 0, 0, 0.8);
}
.p-scrolltop .p-scrolltop-icon {
    font-size: 1.5rem;
    color: #f8f9fa;
}

.p-skeleton {
    background-color: #dee2e6;
    border-radius: 6px;
}
.p-skeleton:after {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0)
    );
}

.p-progressbar {
    border: 0 none;
    height: 1.5rem;
    background: #dee2e6;
    border-radius: 6px;
}
.p-progressbar .p-progressbar-value {
    border: 0 none;
    margin: 0;
    background: #6366f1;
}
.p-progressbar .p-progressbar-label {
    color: #ffffff;
    line-height: 1.5rem;
}

.p-terminal {
    background: #ffffff;
    color: #495057;
    border: 1px solid #dee2e6;
    padding: 1.25rem;
}
.p-terminal .p-terminal-input {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}
