.p-checkbox {
    width: 22px;
    height: 22px;
}
.p-checkbox .p-checkbox-box {
    border: 2px solid #ced4da;
    background: #ffffff;
    width: 22px;
    height: 22px;
    color: #495057;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: #ffffff;
    font-size: 14px;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #6366f1;
    background: #6366f1;
}
.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    border-color: #4338ca;
    background: #4338ca;
    color: #ffffff;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #6366f1;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
    border-color: #6366f1;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #4338ca;
    background: #4338ca;
    color: #ffffff;
}
.p-checkbox.p-invalid > .p-checkbox-box {
    border-color: var(--error-color);
}

.p-input-filled .p-checkbox .p-checkbox-box {
    background-color: #e9ecef;
}
.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: #6366f1;
}
.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    background-color: #e9ecef;
}
.p-input-filled
    .p-checkbox:not(.p-checkbox-disabled)
    .p-checkbox-box.p-highlight:hover {
    background: #4338ca;
}
