.fc {
    /* FullCalendar 4 */
    /* FullCalendar 5 */
}
.fc.fc-unthemed .fc-view-container th {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #343a40;
}
.fc.fc-unthemed .fc-view-container td.fc-widget-content {
    border: 1px solid #dee2e6;
    color: #495057;
}
.fc.fc-unthemed .fc-view-container td.fc-head-container {
    border: 1px solid #dee2e6;
}
.fc.fc-unthemed .fc-view-container .fc-view {
    background: #ffffff;
}
.fc.fc-unthemed .fc-view-container .fc-row {
    border-right: 1px solid #dee2e6;
}
.fc.fc-unthemed .fc-view-container .fc-event {
    background: #4f46e5;
    border: 1px solid #4f46e5;
    color: #ffffff;
}
.fc.fc-unthemed .fc-view-container .fc-divider {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
}
.fc.fc-unthemed .fc-toolbar .fc-button {
    color: #ffffff;
    background: #6366f1;
    border: 1px solid #6366f1;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.fc.fc-unthemed .fc-toolbar .fc-button:enabled:hover {
    background: #4f46e5;
    color: #ffffff;
    border-color: #4f46e5;
}
.fc.fc-unthemed .fc-toolbar .fc-button:enabled:active {
    background: #4338ca;
    color: #ffffff;
    border-color: #4338ca;
}
.fc.fc-unthemed .fc-toolbar .fc-button:enabled:active:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}
.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-left {
    font-family: "PrimeIcons" !important;
    text-indent: 0;
    font-size: 1rem;
}
.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-left:before {
    content: "\e900";
}
.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-right {
    font-family: "PrimeIcons" !important;
    text-indent: 0;
    font-size: 1rem;
}
.fc.fc-unthemed .fc-toolbar .fc-button .fc-icon-chevron-right:before {
    content: "\e901";
}
.fc.fc-unthemed .fc-toolbar .fc-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}
.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button {
    background: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button:hover,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button:hover,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button:hover {
    background: #e9ecef;
    border-color: #ced4da;
    color: #495057;
}
.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button.fc-button-active {
    background: #6366f1;
    border-color: #6366f1;
    color: #ffffff;
}
.fc.fc-unthemed
    .fc-toolbar
    .fc-button.fc-dayGridMonth-button.fc-button-active:hover,
.fc.fc-unthemed
    .fc-toolbar
    .fc-button.fc-timeGridWeek-button.fc-button-active:hover,
.fc.fc-unthemed
    .fc-toolbar
    .fc-button.fc-timeGridDay-button.fc-button-active:hover {
    background: #4f46e5;
    border-color: #4f46e5;
    color: #ffffff;
}
.fc.fc-unthemed .fc-toolbar .fc-button.fc-dayGridMonth-button:focus,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridWeek-button:focus,
.fc.fc-unthemed .fc-toolbar .fc-button.fc-timeGridDay-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
    z-index: 1;
}
.fc.fc-unthemed .fc-toolbar .fc-button-group .fc-button {
    border-radius: 0;
}
.fc.fc-unthemed .fc-toolbar .fc-button-group .fc-button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.fc.fc-unthemed .fc-toolbar .fc-button-group .fc-button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.fc.fc-theme-standard .fc-view-harness .fc-scrollgrid {
    border-color: #dee2e6;
}
.fc.fc-theme-standard .fc-view-harness th {
    background: #f8f9fa;
    border-color: #dee2e6;
    color: #343a40;
}
.fc.fc-theme-standard .fc-view-harness td {
    color: #495057;
    border-color: #dee2e6;
}
.fc.fc-theme-standard .fc-view-harness .fc-view {
    background: #ffffff;
}
.fc.fc-theme-standard .fc-view-harness .fc-popover {
    background: none;
    border: 0 none;
}
.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-header {
    border: 1px solid #dee2e6;
    padding: 1.25rem;
    background: #f8f9fa;
    color: #343a40;
}
.fc.fc-theme-standard
    .fc-view-harness
    .fc-popover
    .fc-popover-header
    .fc-popover-close {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "PrimeIcons" !important;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    color: #6c757d;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.fc.fc-theme-standard
    .fc-view-harness
    .fc-popover
    .fc-popover-header
    .fc-popover-close:before {
    content: "\e90b";
}
.fc.fc-theme-standard
    .fc-view-harness
    .fc-popover
    .fc-popover-header
    .fc-popover-close:hover {
    color: #343a40;
    border-color: transparent;
    background: #e9ecef;
}
.fc.fc-theme-standard
    .fc-view-harness
    .fc-popover
    .fc-popover-header
    .fc-popover-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}
.fc.fc-theme-standard .fc-view-harness .fc-popover .fc-popover-body {
    padding: 1.25rem;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-top: 0 none;
}
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-block-event {
    color: #ffffff;
    background: #4f46e5;
    border-color: #4f46e5;
}
.fc.fc-theme-standard
    .fc-view-harness
    .fc-event.fc-daygrid-block-event
    .fc-event-main {
    color: #ffffff;
}
.fc.fc-theme-standard
    .fc-view-harness
    .fc-event.fc-daygrid-dot-event
    .fc-daygrid-event-dot {
    background: #4f46e5;
    border-color: #4f46e5;
}
.fc.fc-theme-standard .fc-view-harness .fc-event.fc-daygrid-dot-event:hover {
    background: #e9ecef;
    color: #495057;
}
.fc.fc-theme-standard .fc-view-harness .fc-cell-shaded {
    background: #f8f9fa;
}
.fc.fc-theme-standard .fc-toolbar .fc-button {
    color: #ffffff;
    background: #6366f1;
    border: 1px solid #6366f1;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 6px;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:hover {
    background: #4f46e5;
    color: #ffffff;
    border-color: #4f46e5;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active {
    background: #4338ca;
    color: #ffffff;
    border-color: #4338ca;
}
.fc.fc-theme-standard .fc-toolbar .fc-button:enabled:active:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}
.fc.fc-theme-standard .fc-toolbar .fc-button:disabled {
    opacity: 0.6;
    color: #ffffff;
    background: #6366f1;
    border: 1px solid #6366f1;
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left {
    font-family: "PrimeIcons" !important;
    text-indent: 0;
    font-size: 1rem;
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-left:before {
    content: "\e900";
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right {
    font-family: "PrimeIcons" !important;
    text-indent: 0;
    font-size: 1rem;
}
.fc.fc-theme-standard .fc-toolbar .fc-button .fc-icon-chevron-right:before {
    content: "\e901";
}
.fc.fc-theme-standard .fc-toolbar .fc-button:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button {
    background: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-dayGridMonth-button:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridWeek-button:hover,
.fc.fc-theme-standard .fc-toolbar .fc-button.fc-timeGridDay-button:hover {
    background: #e9ecef;
    border-color: #ced4da;
    color: #495057;
}
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-timeGridDay-button.fc-button-active {
    background: #6366f1;
    border-color: #6366f1;
    color: #ffffff;
}
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-dayGridMonth-button.fc-button-active:hover,
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-timeGridWeek-button.fc-button-active:hover,
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-timeGridDay-button.fc-button-active:hover {
    background: #4f46e5;
    border-color: #4f46e5;
    color: #ffffff;
}
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-dayGridMonth-button:not(:disabled):focus,
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-timeGridWeek-button:not(:disabled):focus,
.fc.fc-theme-standard
    .fc-toolbar
    .fc-button.fc-timeGridDay-button:not(:disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
    z-index: 1;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button {
    border-radius: 0;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.fc.fc-theme-standard .fc-toolbar .fc-button-group .fc-button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.fc.fc-theme-standard .fc-highlight {
    color: #4338ca;
    background: #eef2ff;
}
