.p-inline-message {
    padding: 0.75rem 0.75rem;
    margin: 0;
    border-radius: 6px;
}
.p-inline-message.p-inline-message-info {
    background: #e9e9ff;
    border: solid #696cff;
    border-width: 0px;
    color: #696cff;
}
.p-inline-message.p-inline-message-info .p-inline-message-icon {
    color: #696cff;
}
.p-inline-message.p-inline-message-success {
    background: #e4f8f0;
    border: solid #1ea97c;
    border-width: 0px;
    color: #1ea97c;
}
.p-inline-message.p-inline-message-success .p-inline-message-icon {
    color: #1ea97c;
}
.p-inline-message.p-inline-message-warn {
    background: #fff2e2;
    border: solid #cc8925;
    border-width: 0px;
    color: #cc8925;
}
.p-inline-message.p-inline-message-warn .p-inline-message-icon {
    color: #cc8925;
}
.p-inline-message.p-inline-message-error {
    background: #ffe7e6;
    border: solid #ff5757;
    border-width: 0px;
    color: #ff5757;
}
.p-inline-message.p-inline-message-error .p-inline-message-icon {
    color: #ff5757;
}
.p-inline-message .p-inline-message-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}
.p-inline-message .p-inline-message-text {
    font-size: 1rem;
}
.p-inline-message.p-inline-message-icon-only .p-inline-message-icon {
    margin-right: 0;
}

.p-message {
    margin: 1rem 0;
    border-radius: 6px;
}
.p-message .p-message-wrapper {
    padding: 1.25rem 1.75rem;
}
.p-message .p-message-close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-message .p-message-close:hover {
    background: rgba(255, 255, 255, 0.3);
}
.p-message .p-message-close:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: var(--focus-ring);
}
.p-message.p-message-info {
    background: #e9e9ff;
    border: solid #696cff;
    border-width: 0 0 0 6px;
    color: #696cff;
}
.p-message.p-message-info .p-message-icon {
    color: #696cff;
}
.p-message.p-message-info .p-message-close {
    color: #696cff;
}
.p-message.p-message-success {
    background: #e4f8f0;
    border: solid #1ea97c;
    border-width: 0 0 0 6px;
    color: #1ea97c;
}
.p-message.p-message-success .p-message-icon {
    color: #1ea97c;
}
.p-message.p-message-success .p-message-close {
    color: #1ea97c;
}
.p-message.p-message-warn {
    background: #fff2e2;
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;
}
.p-message.p-message-warn .p-message-icon {
    color: #cc8925;
}
.p-message.p-message-warn .p-message-close {
    color: #cc8925;
}
.p-message.p-message-error {
    background: #ffe7e6;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;
}
.p-message.p-message-error .p-message-icon {
    color: #ff5757;
}
.p-message.p-message-error .p-message-close {
    color: #ff5757;
}
.p-message .p-message-text {
    font-size: 1rem;
    font-weight: 400;
}
.p-message .p-message-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
