.p-orderlist .p-orderlist-controls {
    padding: 1.25rem;
}
.p-orderlist .p-orderlist-controls .p-button {
    margin-bottom: 0.5rem;
}
.p-orderlist .p-orderlist-header {
    background: #f8f9fa;
    color: #343a40;
    border: 1px solid #dee2e6;
    padding: 1.25rem;
    font-weight: 700;
    border-bottom: 0 none;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.p-orderlist .p-orderlist-list {
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    padding: 0.75rem 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.p-orderlist .p-orderlist-list .p-orderlist-item {
    padding: 0.75rem 1.25rem;
    margin: 0;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: transform 0.2s, box-shadow 0.2s;
}
.p-orderlist .p-orderlist-list .p-orderlist-item:not(.p-highlight):hover {
    background: #e9ecef;
    color: #495057;
}
.p-orderlist .p-orderlist-list .p-orderlist-item:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: inset 0 0 0 0.15rem #c7d2fe;
}
.p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight {
    color: #4338ca;
    background: #eef2ff;
}

@media screen and (max-width: 769px) {
    .p-orderlist {
        flex-direction: column;
    }
    .p-orderlist .p-orderlist-controls {
        padding: 1.25rem;
        flex-direction: row;
    }
    .p-orderlist .p-orderlist-controls .p-button {
        margin-right: 0.5rem;
        margin-bottom: 0;
    }
    .p-orderlist .p-orderlist-controls .p-button:last-child {
        margin-right: 0;
    }
}
