.p-selectbutton .p-button {
    background: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
}
.p-selectbutton .p-button .p-button-icon-left,
.p-selectbutton .p-button .p-button-icon-right {
    color: #6c757d;
}
.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background: #e9ecef;
    border-color: #ced4da;
    color: #495057;
}
.p-selectbutton
    .p-button:not(.p-disabled):not(.p-highlight):hover
    .p-button-icon-left,
.p-selectbutton
    .p-button:not(.p-disabled):not(.p-highlight):hover
    .p-button-icon-right {
    color: #343a40;
}
.p-selectbutton .p-button.p-highlight {
    background: #6366f1;
    border-color: #6366f1;
    color: #ffffff;
}
.p-selectbutton .p-button.p-highlight .p-button-icon-left,
.p-selectbutton .p-button.p-highlight .p-button-icon-right {
    color: #ffffff;
}
.p-selectbutton .p-button.p-highlight:hover {
    background: #4f46e5;
    border-color: #4f46e5;
    color: #ffffff;
}
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-left,
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-right {
    color: #ffffff;
}
.p-selectbutton.p-invalid > .p-button {
    border-color: var(--error-color);
}
